@tailwind base;
@tailwind components;
@tailwind utilities;

/* small app styles */
html, body, #root {
  height: 100%;
}

.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
